
  <div class="post-content lighten">
    <% if @commentable_type == "Post" %>
      <h2><a href="/users/<%= @user.id %>/posts/<%= @parent.id %>"><%= @parent.title %></a></h2>
      <h4>By:
        <a href="/users/<%= @user.id %>">
          <%= @user.first_name %> <%= @user.last_name %>
        </a>
      </h4>
      <% month = @parent[:created_at].month %>
      <% day = @parent[:created_at].day %>
      <% year =  @parent[:created_at].year %>

      <p><%= month %>.<%= day %>.<%= year %></p>
      <p><%= @parent.body %></p>

      <p>
        Tags:
        <% @parent.tags.each do |tag| %>
          <a href="/tags/<%= tag[:id] %>">#<%= tag.name %></a>
        <% end %>
      </p>
  </div>
    <!-- THIS LOGIC IS NOT IN USE RIGHT NOW
    it only applies when the comment's parent is a comment
    but we chose not to give the user a link this deep in -->

    <% elsif @commentable_type == "Comment" %>
      <!-- PARENT COMMENT -->
      <h5><%= @parent.content %></h5>
    <% end %>

    <!--  -->

    <h3><%= @comment.content %></h3>

    <% if @comment.children.length > 1  %>
      <h5><i>What people are saying:</i></h5>
    <% end %>

    <% @comment.children.each do |child| %>
      <% if child.content %>
        <p class="subcomment"><span class="glyphicon glyphicon-comment"></span><small><%= child.content %></small></p>
      <% end %>
    <% end %>

    <h5 class="say-something">Say something about this</h5>

    <form action="/comments/<%= @comment.id %>/children" method="post">
      <div class="form-group">
        <input type="text" name="child[content]", class="form-control", placeholder="Comment Text", autofocus>
      </div>
      <%= token_tag form_authenticity_token %>

      <input type="submit" value: "Save Comment", class="btn btn-default">
    </form>