<div class="container">

  THIS COMMENT'S PARENT IS A <%=@commentable_type %>

  <% if @commentable_type == "Post" %>
    <h2><a href="/users/<%= @user.id %>/posts/<%= @parent.id %>"><%= @parent.title %></a></h2>
    <h4>By:
      <a href="/users/<%= @user.id %>">
        <%= @user.first_name %> <%= @user.last_name %>
      </a>
    </h4>
    <% month = @parent[:created_at].month %>
    <% day = @parent[:created_at].day %>
    <% year =  @parent[:created_at].year %>

    <div><%= month %>.<%= day %>.<%= year %></div>
    <p><%= @parent.body %></p>

    <p>
      Tags:
      <% @parent.tags.each do |tag| %>
        <a href="/tags/<%= tag[:id] %>">#<%= tag.name %></a>
      <% end %>
    </p>

  <% elsif @commentable_type == "Comment" %>
    <h5>PARENT COMMENT</h5>
    <p><%= @parent.content %></p>
  <% end %>

  <h3>THE COMMENT</h3>
  <p><%= @comment.content %></p>

  <h4>New Comment on THE COMMENT</h4>

  <form action="/comments/<%= @comment.id %>/children" method="post">
    <div class="form-group">
      <input type="text" name="child[content]", class="form-control", placeholder="Comment Text", autofocus>
    </div>
    <%= token_tag form_authenticity_token %>

    <input type="submit" value: "Save Comment", class="btn btn-default">
  </form>

  <% @comment.children.each do |child| %>
    <% if child.content %>
      <h4>COMMENT ON THE COMMENT</h4>
      <p><%= child.content %> <a href="/comments/<%= child.id %>">More >></a></p>
    <% end %>
  <% end %>

</div>