<div class="row">
  <div class="col-xs-12 col-sm-8  col-sm-offset-2">

    <% if flash[:logged_out] %>
      <p class="flash-success">Logged out!</p>
    <% end %>
    <% if flash[:new_user] %>
      <p class="flash-success">Success! Login now!</p>
    <% end %>

    <% flash.each do |k, v| %>
    <h2 id="<%= k %>"><%= v%></h2>
    <% end %>

    <h2>Sign in: </h2>
    <%= form_for :user do |f| %>
      <div class="form-group">
        <%= f.label :email %>:
        <%= f.email_field :email , class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :password %>:
        <%= f.password_field :password, class: "form-control"%>
      </div>
      <div class="form-group">
       <%= f.submit "Login", class: "form-control btn btn-primary" %>
      </div>
    <% end %>
    <a href="/signup">Not a member? Sign up &raquo;</a>

    <%= link_to "Forgot Password?", new_password_path %>
  </div>
</div>