
  <div class="row">
    <div class="col-xs-12 col-sm-8  col-sm-offset-2">
      <h2>Create your profile: </h2>
      <%= form_for @user do |f| %>
      <div class="form-group">
        <label>First name: </label>
        <%= f.text_field :first_name, class: "form-control"%>
        </div>
      <div class="form-group">
        <label>Last name: </label>
        <%= f.text_field :last_name , class: "form-control"%>
        </div>
      <div class="form-group">
        <label>Email address: </label>
        <%= f.email_field :email , class: "form-control"%>
        </div>
        <div class="form-group">
        <%= f.label :password %>:
        <%= f.password_field :password , class: "form-control"%>
        </div>
        <div class="form-group">
          <label>Add a profile image: </label>
          <%= f.url_field :image_url, placeholder: "Image URL" , class: "form-control"%>
        </div>
        <div class="form-group">
         <%= f.submit "Save User", class: "form-control btn btn-primary" %>
       </div>
     </div>
   </div>
  <% end %>
