<div class="row">

  <div class="col-md-4 col-xs-12">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <p><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
    <img src="<%= @user.image_url %>" class="profile-pic" />
    <div class="user-buttons">
      <% @user.pages.each do |page| %>
        <a href="/users/<%= @user.id %>/pages/<%= page.id %>" class="btn btn-default"><%= page.name %></a>
      <% end %>
      <% if @user.pages.length < 2 %>
        <a href="/users/<%= @user.id %>/pages/new" class="btn btn-default">Add Page</a>
      <% end %>

      <a href="/users/<%= @user.id %>/edit " class="btn btn-default">Edit</a>
  </div>
 </div>

  <div class="col-md-8 col-xs-12">
    <h3>Recent Posts by <%= @user.first_name %> <%= @user.last_name %></h3>
     <ul class="user-post">
        <% @all_posts.each do |post| %>
          <li>
            <a href="/users/<%= @user.id %>/posts/<%= post.id %>"><%= post.title %> <span class="read-more">Read More &raquo;</span></a>
         </li>
        <% end %>
    </ul>
     <a href="/users/<%= @user.id %>/posts/new" class="btn btn-default">Add New Post</a>
  </div>
</div>
