

<div class="container">
  <img src="<%= @user.image_url %>">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p><%= @user.email %></p>

  <% @user.pages.each do |page| %>
  	<a href="/users/<%= @user.id %>/pages/<%= page.id %>"><%= page.name %></a>
  	<% end %>

  	<a href="/users/<%= @user.id %>/edit ">edit</a>
</div>

