<h2><%= @post.title.titleize %></h2>

<h4>By:
  <a href="/users/<%= @user.id %>">
    <%= @user.first_name %>  <%= @user.last_name %>
  </a>
</h4>

<% month = @post[:created_at].month %>
<% day = @post[:created_at].day %>
<% year = @post[:created_at].year %>

<p><%= month %>.<%= day %>.<%= year %></p>
<p><%= @post.body %> </p>

