<div class="row">
    <div class="col-xs-12 col-sm-8  col-sm-offset-2">

      <h2>Edit <i><%= @post.title %></i></h2>

      <%= form_for [@user, @post] do |f| %>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Post Title", class: "form-control", autofocus: true %>
        </div>
        <div class= "form-group">
          <%= f.text_area :body,  placeholder: "Post Content", class: "form-control" %>
        </div>
        <div class="form-group">
          <input type="text" name="post[tags]" class="form-control" id="tags" placeholder="Tags (separated by commas)" value="<%= @post.tags.map(&:name).join(', ') %>">
        </div>
        <div class="form-group">
          <%= f.submit "Save Changes", class: "form-control btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>