<h2>Add New Post</h2>

<%= form_for (@post) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Post Title", class: "form-control" %>
  </div>
  <div class= "form-group">
    <%= f.text_area :user_id,  placeholder: "Post Content", class: "form-control" %>
  </div>
    <%= f.hidden :user_id, placeholder: "Post Title", class: "form-control" %>
  <div class="form-group">
    <%= f.submit "Save Post", class: "form-control btn btn-primary" %>
  </div>
<% end %>
