<h2><%= @post.title %></h2>
<h4>By:
  <a href="/users/<%= @user.id %>">
    <%= @user.first_name %> <%= @user.last_name %>
  </a>
</h4>
<% month = @post[:created_at].month %>
<% day = @post[:created_at].day %>
<% year =  @post[:created_at].year %>
 
<div><%= month %>.<%= day %>.<%= year %></div>
<p><%= @post.body %></p>

<p id="post-tags">
  Tags:
  <% @post.tags.each do |tag| %>
    <a href="/tags/<%= tag[:id] %>">#<%= tag.name %></a>
  <% end %>
</p>

<div class="form-group">
  <a class="btn btn-default" href="/users/<%= @user.id %>/posts/<%= @post.id %>/edit" role="button">Edit Post</a><br>
</div>
<div class="form-group">
  <%= button_to "Delete", user_post_path(@post.user.id, @user.id), method: :delete, class: "btn btn-danger" %>
</div>

<% if @post.comments.length > 0 %>
  <h3>Comments about <%= @post.title %></h3>

  <% @post.comments.each do |comment| %>
    <h5>THE COMMENT</h5>
    <p><%= comment.content %> <a href="/comments/<%= comment.id %>">More >></a></p>

    <% comment.children.each do |child| %>
      <h6>COMMENT ON THE COMMENT</h6>
      <p><%= child.content %> <a href="/comments/<%= child.id %>">More >></a></p>
    <% end %>

  <% end %>
<% end %>