<!DOCTYPE html>
<html>
<head>
  <title>Our Microblog Lab!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body id="microblog">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-sm-8 col-sm-offset-2">
        <h1><a href="/">Name of Microblog</a></h1>
      </div>
    </div>
    <div class="row" id="main-content">
     <div class="col-sm-8 col-sm-offset-2">

        <%= yield %>

      </div>
    </div>
    <div class="row footer">
      <div class="col-sm-8 col-sm-offset-2">
        <%  if session[:user_id] != nil %>
          <a href="/" class="btn btn-link btn-sm">Home</a>
          <a href="/users/<%= session[:user_id] %>" class="btn btn-link btn-sm">My Profile</a>
          <a href="/users" class="btn btn-link btn-sm">View All Users</a>
          <a href="/about_us" class="btn btn-link btn-sm">About Us</a>
          <a href="/logout" class="btn btn-link btn-sm">Log Out</a>
        <% else%>
          <a href="/signup" class="btn btn-link btn-sm">Join</a>
          <a href="/login" class="btn btn-link btn-sm">Log In </a>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>